# Server Port
PORT=5000

# Your Google Account Email
GMAIL_USER=mostafa.a.ashmawy@gmail.com

# Your Google 16-Character App Password (NOT your account password)
# Guide: Google Account -> Security -> 2-Step Verification -> App Passwords
GMAIL_APP_PASS=xxxx xxxx xxxx xxxx

# Recipient email address where you want to receive lead submissions
RECIPIENT_EMAIL=mostafa.a.ashmawy@gmail.com
